:root {
  --primary-color: #6A007C;  
  --primary-20-color: #7E1490;
  --primary-40-color: #9228A4;
  --primary-80-color: #BA50CC;
  --primary-100-color: #CE64E0;
  --primary-200-color: #FFF5FF;
  
  --secondary-color: #4c4c4c;
  --secondary-40-color: #747474;  
  --secondary-100-color: #E0E0E0;  

  --primary-b-color: #F9F9F9;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: var(--primary-80-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
     /* background-color: bisque;   */
    height: 100%;
    background-image: url('../img/bg-gifts.png');
    /*  background-size: 125px 125px; */
}

.col {
    padding-right: 2px;
    padding-left: 2px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.App {
    border: 1px solid #000000;
}

.AppContainer {
    /* border: 1px solid var(--primary-color); */
    /* background-color: var(--primary-80-color); */    
    height: 100%;
    padding-bottom: 80px;
}

.AppHeader {
    /* border: 1px solid green; */

    width: 100%;
    height: 60px;
    background-color: var(--primary-b-color);
    border-top: 4px solid var(--primary-color);
}

.AppContainerRowCenter {
    /* border: 1px solid blue; */
    background-color: var(--primary-color);
    height: 100%;
    padding-bottom: 60px;
}

.AppContainerCenter {
    width: 100%;
    height: 100%;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--primary-b-color);
    padding: 0px 15px 5px 15px;

    /* border: 1px solid gray; */
}

.AppFooter {
    /* border: 1px solid red; */

    color: var(--primary-b-color);
    width: 100%;
    height: 80px;
    background-color: var(--primary-20-color);
    border-top: 3px solid var(--primary-b-color);
    position: fixed;
    bottom: 0;
}

.AppFooterText {
    width: 100%;
    text-align: center;
    margin: 12px 0px 0px 0px; 
    /* margin: 0 auto; */
}

.AppFooterText a {
    font-weight: bold;
    text-decoration: underline;
    color: var(--primary-b-color);
}

.logo {
    width: 150px;
    height: 50px;

    margin: 3px 15px 0px 15px; 
}

.WelcomeView {
    width: 100%;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    border-top: 35px solid var(--primary-20-color);
    text-align: center;
}

.Wizard {
    /* border: 1px solid red; */
    height: 99%;
    position: relative;   
    margin: 0px 0px 0px 0px;
}

.WizardProgressBarCont {
    background-color: var(--primary-20-color);
}

.WizardProgressBar {
    color: var(--primary-b-color);
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 5px 0px 0px 0px;
    height: 35px;
}

.WizardContent {
    padding: 15px 0px 0px 0px;
}

.WizardControlsContainer {
    /* border: 1px solid yellow; */
    position: absolute; 
    bottom: 0px;
    width: 100%;
}

.WizardControls {
    /* border: 1px solid orange; */
    max-width: 320px; 
    margin: 0 auto;
}

.WizardControls button {
    min-width: 100px;
}

.btn-rgln-primary {
    color: var(--primary-b-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-rgln-primary:hover {
    color: var(--primary-b-color);
    background-color: var(--primary-40-color);
    border-color: var(--primary-40-color);
}

.btn-rgln-secondary {
    color: var(--primary-b-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-rgln-secondary:hover {
    color: var(--primary-b-color);
    background-color: var(--secondary-40-color);
    border-color: var(--secondary-40-color);
}

.btn-rgln-display {
    color: var(--primary-b-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-rgln-display:hover {
    color: var(--primary-b-color);
    background-color: var(--primary-40-color);
    border-color: var(--primary-40-color);
}

.UpDownDisplay {
    margin-bottom: 10px;
}

.UpDownDisplay button {
    border-radius: 0;
    width: 40px;
    height: 40px;
}

.displayLabel {
    width: 100px;
    text-align: right;
    margin-right: 15px;
    padding-top: 8px;
}

.displayValue {
    width: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}

.topM25 {
    margin-top: 25px;
}

.topM50 {
    margin-top: 50px;
}

.cont100w {
    width: 100%;
}

.tAlignC {
    text-align: center;
}

.elAutoM {
    margin: 0 auto;
}

.elInlineBlock {
    display: inline-block;
}

.elFloatL {
    float: left;
    padding-left: 20px;
}

.elFloatR {
    float: right;
    padding-right: 20px;
}

.fGSelect select {
    max-width: 250px;
}

.fGTextInputS input {
    max-width: 75px;
    text-align: right;
}

.fGCheckboxInput input {
    width: 20px;
    height: 20px;
}

.fGCheckboxInput label {
    padding: 2px 5px 0px 10px;
    text-decoration: underline;
}

.fGCheckboxInput label:hover {
    cursor: pointer;
}

.inputError {
    border-color: red;
}

.WizardContentResult {
    height: 100%;
    overflow-y: auto;
    /* padding-bottom: 40px; */
}

.WizardContentResult a {
    color: var(--primary-20-color);
}

.WizardContentResultItem {
    margin: 0px 0px 10px 0px; 
    padding-top: 5px;
    background-color: var(--primary-200-color);    
    border-top: 1px solid var(--secondary-100-color);    
}

.wizardItemImg {
    margin: 4px 0px 0px 0px; 
}

.wizardItemImg img {
    width: 60px;
    height: 55px;
    margin: 0px 10px 0px 0px;
}

.wizardItemTitle {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    margin-top: 2px;
}

.wizardItemPrice {
    opacity: 0.85;
    margin-top: 3px;
}

.wizardItemPrice span {    
    font-weight: bold;
    margin-right: 8px;
}

.wizardItemDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    text-align: justify;
    opacity: 0.9;
}

.wizardItem11C {
    vertical-align: top;
}

.wizardItem12C {
    display: inline-grid;
}
