:root {
  --primary-color: #6A007C;  
  --primary-20-color: #7E1490;
  --primary-40-color: #9228A4;
  --primary-80-color: #BA50CC;
  --primary-100-color: #CE64E0;
  
  --secondary-color: #4c4c4c;
  --secondary-40-color: #747474;  

  --primary-b-color: #F9F9F9;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: var(--primary-80-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
 /* background-color: bisque;   */
 height: 100%;
}

.col {
    padding-right: 2px;
    padding-left: 2px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.App {
    border: 1px solid #000000;
}

.AppContainer {
    /* border: 1px solid var(--primary-color); */
    background-color: var(--primary-80-color);
    height: 95%;
}

.AppHeader {
    /* border: 1px solid green; */

    width: 100%;
    height: 60px;
    background-color: var(--primary-b-color);
    border-top: 4px solid var(--primary-color);
}

.AppContainerRowCenter {
    /* border: 1px solid blue; */
    background-color: var(--primary-color);
    height: 80%;
}

.AppFooter {
    /* border: 1px solid red; */

    color: var(--primary-b-color);
    width: 100%;
    height: 80px;
    background-color: var(--primary-20-color);
    border-top: 3px solid var(--primary-b-color);
}

.AppFooterText {
    width: 100%;
    text-align: center;
    margin: 15px 0px 0px 0px; 
    /* margin: 0 auto; */
}

.logo {
    width: 150px;
    height: 50px;

    margin: 3px 15px 0px 15px; 
}

.AppContainerCenter {
    width: 100%;
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--primary-b-color);

    /* border: 1px solid gray; */
}

.WelcomeView {
    margin: 5px 15px 0px 15px; 
}

.Wizard {
    /* border: 1px solid red; */
    height: 95%;
    position: relative;   
    margin: 0px 15px 0px 15px; 
}

.WizardProgressBarCont {
    background-color: var(--primary-20-color);
}

.WizardProgressBar {
    color: var(--primary-b-color);
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

.WizardContent {
    padding: 15px 0px 0px 0px;
}

.WizardControlsContainer {
    /* border: 1px solid yellow; */
    position: absolute; 
    bottom: 0px;
    width: 100%;
}

.WizardControls {
    /* border: 1px solid orange; */
    max-width: 320px; 
    margin: 0 auto;
}

.WizardControls button {
    min-width: 100px;
}

.btn-rgln-primary {
    color: var(--primary-b-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-rgln-primary:hover {
    color: var(--primary-b-color);
    background-color: var(--primary-40-color);
    border-color: var(--primary-40-color);
}

.btn-rgln-secondary {
    color: var(--primary-b-color);
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-rgln-secondary:hover {
    color: var(--primary-b-color);
    background-color: var(--secondary-40-color);
    border-color: var(--secondary-40-color);
}

.btn-rgln-display {
    color: var(--primary-b-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-rgln-display:hover {
    color: var(--primary-b-color);
    background-color: var(--primary-40-color);
    border-color: var(--primary-40-color);
}

.UpDownDisplay {
    margin-bottom: 10px;
}

.UpDownDisplay button {
    border-radius: 0;
    width: 40px;
    height: 40px;
}

.displayLabel {
    width: 100px;
    text-align: right;
    margin-right: 15px;
    padding-top: 8px;
}

.displayValue {
    width: 25px;
    text-align: center;
    font-weight: bold;
    padding-top: 8px;
}

.topM50 {
    margin-top: 50px;
}

.cont100w {
    width: 100%;
}

.tAlignC {
    text-align: center;
}

.fGSelect select {
    max-width: 250px;
}

.fGTextInputS input {
    max-width: 75px;
}



